body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 3px 3px 5px;
    margin: auto;
    position: relative;
}

nav {
    margin: 10px;
}

ul {
    height: 100%;
    margin: 0;
    box-shadow: 3px 3px 5px;
}

.jumbotron {
    color: white;
    font-weight: 400;
}

footer {
    text-align: center;
}